@charset "UTF-8";
@font-face {
    font-family: 'Cute' ;
    src: url('fontes/Cute Notes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* FONTES E PALETAS DE CORES DO SITE PARA USAR COMO VARIAVEIS
:root{
    --cor1: #FCE758;
    --cor2: #F1AABC;
    --cor3: #C592CB;
    --cor4: #84D6D0;
    --corcard1: hsla(52, 96%, 67%, 0.600);
    --corcard2: hsl(345, 72%, 81%, 0.600);
    --corcard3: hsl(294, 35%, 68%, 0.600);
    --corcard4: hsl(176, 50%, 68%, 0.600);

    --fonte-padrao:serif;
    --fonte-destaque: Cute;
    
    para usar é Ex: color:var(--cor1);
}
*/    
body{
    background-image: linear-gradient(to right, #FCE758, #F1AABC, #C592CB, #84D6D0) ;
    background-attachment: fixed;
}
header > h1{
    font-family: 'Cute';
    font-size: 2.8em;
    text-align: center;
}
header > h2{
    font-family: 'Cute';
    font-size: 1.4em;
    text-align: center;
    margin: auto;
    margin-top: -28px;
}
article{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.295);
    min-width: 310px;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;    
}

p#redes{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 9px;

}
p.princ1{
    background-image:linear-gradient(to right, hsla(52, 96%, 67%, 0.700), hsl(345, 72%, 81%, 0.700), hsl(294, 35%, 68%, 0.700), hsl(176, 50%, 68%, 0.700) ) ;
    font-family: 'Cute';
    font-size: 2.2em;
    text-align: center;
    padding: 6px;
    margin: -10px -10px 35px -10px ;
    border-radius: 10px 10px 0px 0px;
}
p.princ2{
    background-image:linear-gradient(to right, hsla(52, 96%, 67%, 0.700), hsl(345, 72%, 81%, 0.700), hsl(294, 35%, 68%, 0.700), hsl(176, 50%, 68%, 0.700) ) ;
    font-family: 'Cute';
    font-size: 2.2em;
    text-align: center;
    padding: 6px;
    margin: -10px -10px 35px -10px ;
    border-radius: 10px 10px 0px 0px;
}
.soci:hover{
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: auto;
}
.vestbord:hover{
    border-color: hsla(0, 0%, 1%, 0.050);
    border-style: solid;
    margin: auto;
}

.galeria{
    display: flex;
    gap: 3px;
    overflow: auto;
}
.galeria::-webkit-scrollbar{
    width: 1;
}
.card{
    position: center;
    left: 0px;
    border-radius: 4px;
    padding: 9px 9px 9px 9px;
    min-height: 80px;
    background-color: transparent;
    transition: 0.5s;
    flex: 0px;
    margin: auto;
}

div img{
    width: 100%;
    min-width: 210px;
    min-height: 210px;
}
.card:nth-child(1){
    background-color: hsla(52, 96%, 67%, 0.400);
}
.card:nth-child(2){
    background-color: hsla(52, 96%, 67%, 0.400);
}
.card:nth-child(3){
    background-color: hsl(345, 72%, 81%, 0.400);
}
.card:nth-child(4){
    background-color: hsl(345, 72%, 81%, 0.400);
}
.card:nth-child(5){
    background-color: hsl(294, 35%, 68%, 0.400);
}
.card:nth-child(6){
    background-color: hsl(294, 35%, 68%, 0.400);
}
.card:nth-child(7){
    background-color: hsl(176, 50%, 68%, 0.400);
}
.card:nth-child(8){
    background-color: hsl(176, 50%, 68%, 0.400);
}
.card:hover{
    flex: 20px;
    font-weight: bold;
    cursor: pointer;
}
.rodape{
    text-align: center;
    padding: 30px;
}
.rodape a{
    text-decoration: none;
    font-weight: bold;
}
.rodape a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.692);
}
